main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 400px);
}

.rsis-container {
    width: 100% !important;
    height: inherit !important;
  }

  .rsis-image {
    background-size: contain !important;
  }